<div class= "page-header">
  <h1><%= "#{@trip.name}"%></h1>
</div>

<dl>
  <dt><strong>Location</strong></dt>
  <dd><%= @trip.location %></dd>

  <dt><strong>Date of Trip</strong></dt>
  <dd><%= @trip.date_of_trip %></dd>

  <dt><strong>Location</strong></dt>
  <dd><%= @trip.location %></dd>

  <dt><strong>Activities</strong></dt>
  <dd><%= @trip.activities %></dd>

  <dt><strong>Type of Trip</strong></dt>
  <dd><%= @trip.trip_type %></dd>

</dl>

<%= link_to "Edit", edit_trip_path, class:"btn btn-default" %>
<%= link_to "Back", :back, class:"btn btn-default" %>
